
<div class="container">
   <div class="title">
    <p class="h3">Get In Touch</p>
    <small>Reach out to us & we will respond as soon as we can .</small> 
   </div> 
<div class="form">
    <form class="row g-3 needs-validation" novalidate [formGroup]="form">
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationCustom01"  required formControlName="firstname">
          <div class="invalid-feedback">
            please provide valid name
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationCustom02" required formControlName="lastname">
          <div class="invalid-feedback">
            please provide your last name
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Email</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required formControlName="email">
            <div class="invalid-feedback">
              Please provide your email.
            </div>
          </div>
        </div>
       
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="message"></textarea>
          </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit" (click)="submit()">Submit form</button>
        </div>
      </form>
</div>

</div>