<nav>

    <img [src]="logoImg" alt="logo">

    <ul>
<li >
    <a routerLink="/everthing" routerLinkActive="active" >EVERYTHING</a>

</li>
<li>
    <a routerLink="/women" routerLinkActive="active" >WOMEN</a>

</li>
<li>
    <a routerLink="/men" routerLinkActive="active" >MEN</a>

</li>

<li >
    <a routerLink="/accessories" routerLinkActive="active" >ACCESSORIES</a>

</li>
    </ul>

    <ul id="nav_inf">
        <li>
            ABOUT
        </li>
        <li>
            CONTACT US
        </li>
        <li>
            cart
        </li>
        <li>
            user 
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>